@font-face {
    font-family: "Gilroy-Bold";
    font-weight: 700;
    font-style: normal;
    src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Gilroy-ExtraBold";
    font-weight: 800;
    font-style: normal;
    src: local("Gilroy-ExtraBold"),
        url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Gilroy-Medium";
    font-weight: 500;
    font-style: normal;
    src: local("Gilroy-Medium"),
        url("../fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/Gilroy-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "EBGaramond-Bold";
    font-weight: 700;
    font-style: normal;
    src: local("EBGaramond-Bold"),
        url("../fonts/EBGaramond-Bold.woff2") format("woff2"),
        url("../fonts/EBGaramond-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "EBGaramond-SemiBold";
    font-weight: 600;
    font-style: normal;
    src: local("EBGaramond-SemiBold"),
        url("../fonts/EBGaramond-SemiBold.woff2") format("woff2"),
        url("../fonts/EBGaramond-SemiBold.woff") format("woff");
    font-display: swap;
}
