body {
    height: 100vh;
    @extend %gilroy-700;
    font-size: 1.125rem;
    color: #fff;
    background-color: $bg;
}
a {
    text-decoration: none;
}
button {
    border: 0;
}
/* =============================*/
.lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
    // padding-top: 93px;
    z-index: 0;
}
/* Сховати елемент не видаляючи з DOM */
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.container {
    max-width: 1490px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-top {
    max-width: 1920px;
    padding: 0 80px;
    margin: 0 auto;
    position: relative;
}
.title {
    color: #fff;
    max-width: 555px;
    font-size: 4rem;
    @extend %Garamond-SemiBold-600;
}
.title-decor {
    padding-left: 104px;
    position: relative;
    color: $accent;
    @extend %gilroy-800;
    letter-spacing: 6px;
    text-transform: uppercase;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 72px;
        height: 2px;
        background-color: $accent;
    }
}
.text {
    color: #fff;
    line-height: 2rem;
    @extend %gilroy-700;
}
.read-more {
    color: $accent;
    transition: all 0.3s;
    &:hover {
        color: $hover;
    }
}
