body {
    height: 100vh;
    @extend %gilroy-700;
    font-size: 1.125rem;
    background-color: $bg;
}
a {
    text-decoration: none;
}
button {
    border: 0;
}
/* =============================*/
.lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
    padding-top: 93px;
    z-index: 0;
}
/* Сховати елемент не видаляючи з DOM */
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.container {
    max-width: 1490px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-top {
    max-width: 1920px;
    padding: 0 80px;
    margin: 0 auto;
}
