$default: #fff;
$hover: #ff9900;
$accent: #fbd784;
$bg: #0b1d26;

%gilroy-500 {
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 500;
}
%gilroy-700 {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 700;
}
%gilroy-800 {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-weight: 800;
}
%Garamond-SemiBold-600 {
    font-family: "EBGaramond-SemiBold", sans-serif;
    font-weight: 600;
}
%Garamond-Bold-700 {
    font-family: "EBGaramond-Bold", sans-serif;
    font-weight: 700;
}
