<footer class="footer">
   <div class="container">
<!-- 
      <div class="footer__wrapper">
         <div class="footer-info">
            <a class="footer-info__logo wow animate__fadeIn" data-wow-delay=".3s" href="#body">
               <svg class="logo__svg">
                  <use
                     xlink:href="images/sprite.svg#logo"
                     width="108"
                     height="24"
                  ></use>
               </svg>
            </a>
            <p class="footer-info__text wow animate__fadeIn" data-wow-delay=".5s">Get out there & discover your next slope, mountain & destination!</p>
            <p class="footer-info__copyright wow animate__fadeIn" data-wow-delay=".7s">Copyright 2019 MNTN, Inc. Terms & Privacy</p>
         </div>
         <div class="footer-nav wow animate__fadeIn" data-wow-delay="1s">
            <nav class="footer-nav__nav">
               <h5 class="footer-nav__title">More on The Blog</h5>
               <ul class="footer-nav__list">
                  <li class="footer-nav__item">
                     <a class="footer-nav__link" href="#" target="_blank">About MNTN</a>
                  </li>
                  <li class="footer-nav__item">
                     <a class="footer-nav__link" href="#" target="_blank">Contributors & Writers</a>
                  </li>
                  <li class="footer-nav__item">
                     <a class="footer-nav__link" href="#" target="_blank">Write For Us</a>
                  </li>
                  <li class="footer-nav__item">
                     <a class="footer-nav__link" href="#" target="_blank">Contact Us</a>
                  </li>
                  <li class="footer-nav__item">
                     <a class="footer-nav__link" href="#" target="_blank">Privacy Policy</a>
                  </li>
               </ul>
            </nav>
            <nav class="footer-nav__nav">
               <h5 class="footer-nav__title">More on MNTN</h5>
               <ul class="footer-nav__list">
                  <li class="footer-nav__item">
                     <a class="footer-nav__link" href="#" target="_blank">The Team</a>
                  </li>
                  <li class="footer-nav__item">
                     <a class="footer-nav__link" href="#" target="_blank">Jobs</a>
                  </li>
                  <li class="footer-nav__item">
                     <a class="footer-nav__link" href="#" target="_blank">Press</a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
       -->
   </div>
   <div class="arrow-go-up">
      <button
         class="arrow-go-up__square"
         id="scrollToTopBtn"
         onclick="scrollToTop()"
      >
         <svg class="arrow-go-up__svg">
            <use
               xlink:href="images/sprite.svg#arrow-down"
               width="16"
               height="24"
            ></use>
         </svg>
      </button>
    </div>
</footer>
<script src="js/main.min.js"></script>
</div>
</body>

</html>