<main class="main">
    <section class="slider">
        <h1 class="visually-hidden">Heading</h1>
        <div class="container-top">
            <div class="slider__wrapper">
                <div class="slicer__inner">
                    <div class="slider__item">
                        <h5 class="title-decor">A Hiking guide</h5>
                        <h2 class="slider__title">
                            Be prepared for the Mountains and beyond!
                        </h2>
                        <a class="slider__link" href="#">
                            <span>scroll down</span>
                            <svg class="arrow__svg">
                                <use
                                    xlink:href="images/sprite.svg#arrow-down"
                                    width="16"
                                    height="24"
                                ></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider__item">
                        <h5 class="title-decor">GEt Started</h5>
                        <h2 class="slider__title">
                            What level of hiker are you?
                        </h2>
                        <a class="slider__link" href="#">
                            <span>scroll down</span>
                            <svg class="arrow__svg">
                                <use
                                    xlink:href="images/sprite.svg#arrow-down"
                                    width="16"
                                    height="24"
                                ></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider__item">
                        <h5 class="title-decor">Hiking Essentials</h5>
                        <h2 class="slider__title">
                            Picking the right Hiking Gear!
                        </h2>
                        <a class="slider__link" href="#">
                            <span>scroll down</span>
                            <svg class="arrow__svg">
                                <use
                                    xlink:href="images/sprite.svg#arrow-down"
                                    width="16"
                                    height="24"
                                ></use>
                            </svg>
                        </a>
                    </div>
                    <div class="slider__item">
                        <h5 class="title-decor">where you go is the key</h5>
                        <h2 class="slider__title">
                            Understand Your Map & Timing
                        </h2>
                        <a class="slider__link" href="#">
                            <span>scroll down</span>
                            <svg class="arrow__svg">
                                <use
                                    xlink:href="images/sprite.svg#arrow-down"
                                    width="16"
                                    height="24"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
